<div class="git">
<%= link_to 'https:github.com/kravinskylev' do %>
  <%= image_tag('git.png') %>
</div>
<% end %>

<div class="icon">
<%= link_to 'https://twitter.com/levkravinsky' do %>
  <%= image_tag('twitter_icon.png') %>
<% end %>
</div>
<br>

