<h4><a href="http://lev.io">{l/k}</a></h4> <br>

<div class="icon">
<%= link_to 'https://twitter.com/levkravinsky' do %>
  <%= image_tag('twitter_icon.png') %>
<% end %>
</div>

<br>

<div class="icon">
<%= link_to 'https:github.com/kravinskylev' do %>
  <%= image_tag('github.svg') %>
</div>
<% end %>

Made With <span class="octicon-mega octicon-heart"></span> by Lev Kravinsky

