<div class="container">
  <h4>About tweetHaiku</h4>
  This project is a Rails app meant to showcase an interesting little Ruby script I wrote a little while ago. This script parses the incoming twitter feed and attempts to find accidental haikus. It does this by checking the syllable count is 17, and that word breaks are found after 5 and 12 syllables. It also filters out tweets with URLs and other non syllabic symbols (such as "@" and "RT"), in addition to restricting the language to English. These tweets are then posted here, where a logged in user can upvote them. These haikus cover a wide scope of subjects and emotions, ranging from the obscene to the profound. Hopefully, you'll find something you enjoy. If you do, <a href="http://lev.io">drop me a line</a>, and if not, feel free to suggest improvements or <a href="http://github.com/kravinskylev/tweethaiku-rails">even a pull request</a>.
</div>
